// CLASES GENERALES
.botones {
    background-color: $colorPrincipal;
    color: white;
    font-family: sans-serif;
    &:hover{
        background-color: white !important;
    }
}

.titulos {
    color: $colorPrincipal;
}