body {
    background-color: black;

    #header {
        top: 0;
        z-index: 999999;
        position: sticky;

        .header__informacion {
            display: none;
            font-size: 20px;
            font-family: sans-serif;
            background-color: black;
            color: grey;
            list-style: none;
            z-index: 9999;
        }

        @media (min-width: 992px) {
            .header__informacion{
                display: block;
            }
        }
        
        .header__menu {
            background-color: black;
            font-family: sans-serif;
            font-size: 20px;

            .header__menu__logo {
                height: 30px;
            }
        }
    }

    #main {
        position: relative;

        h1 {
            margin-top: 50px;
            font-size: 45px;
            display: flex;
            font-family: sans-serif;
            position: absolute;
            justify-content: center;
            text-align: center;
            width: 100%;
            color: white;
            z-index: 99999;
            animation-duration: 2s;
        }

        .carousel-item img {
            height: 600px;
            object-fit: cover;

        }

        .carousel-titulo {
            font-family: sans-serif;
            font-size: 25px;
        }

        .carousel-texto {
            font-family: sans-serif;
            font-size: 15px;
        }
    }

    #section1 {
        h5 {
            font-family: sans-serif;
            font-size: 20px;
            font-weight: bold;
        }

        p {
            font-family: sans-serif;
            font-size: 15px;
        }

        img {
            height: 300px;
            object-fit: cover;
        }

        .col {
            a {
                padding-bottom: 10px;
                font-size: 15px;
                text-decoration: none;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: $colorPrincipal;
            }
        }


    }

    #section2 {
        .section2__logos__clientes {
            img {
                width: 100%;
            }
        }
    }

    #footer {
        background-color: white;
        text-align: center;
        color: gray;
        padding-top: 20px;
        padding-bottom: 20px;
        .redessociales {
            display: inline;
            a{
                color: gray;
            }
            a:hover{
                color: $colorPrincipal;
            }
            i{
                padding-inline: 5px;
            }
        }
    }
}