* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: black;
}
body #header {
  top: 0;
  z-index: 999999;
  position: -webkit-sticky;
  position: sticky;
}
body #header .header__informacion {
  display: none;
  font-size: 20px;
  font-family: sans-serif;
  background-color: black;
  color: grey;
  list-style: none;
  z-index: 9999;
}
@media (min-width: 992px) {
  body #header .header__informacion {
    display: block;
  }
}
body #header .header__menu {
  background-color: black;
  font-family: sans-serif;
  font-size: 20px;
}
body #header .header__menu .header__menu__logo {
  height: 30px;
}
body #main {
  position: relative;
}
body #main h1 {
  margin-top: 50px;
  font-size: 45px;
  display: flex;
  font-family: sans-serif;
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: white;
  z-index: 99999;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
body #main .carousel-item img {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
body #main .carousel-titulo {
  font-family: sans-serif;
  font-size: 25px;
}
body #main .carousel-texto {
  font-family: sans-serif;
  font-size: 15px;
}
body #section1 h5 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}
body #section1 p {
  font-family: sans-serif;
  font-size: 15px;
}
body #section1 img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
body #section1 .col a {
  padding-bottom: 10px;
  font-size: 15px;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: orangeRed;
}
body #section2 .section2__logos__clientes img {
  width: 100%;
}
body #footer {
  background-color: white;
  text-align: center;
  color: gray;
  padding-top: 20px;
  padding-bottom: 20px;
}
body #footer .redessociales {
  display: inline;
}
body #footer .redessociales a {
  color: gray;
}
body #footer .redessociales a:hover {
  color: orangeRed;
}
body #footer .redessociales i {
  padding-inline: 5px;
}

.botones {
  background-color: orangeRed;
  color: white;
  font-family: sans-serif;
}
.botones:hover {
  background-color: white !important;
}

.titulos {
  color: orangeRed;
}/*# sourceMappingURL=main.css.map */